@import '../core/themes/__variables.less';

.container {
    display: flex;
    flex-wrap: nowrap;
}
.navbar-nav .nav-link {
    text-transform: uppercase;
    // font-family: cursive;
    font-size: small;
    color: @navLink;
    cursor: pointer;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:  @navbarActive;
}
.bg-body-tertiary {
    background-color: @navbarColor !important;
}

.navbar-toggler{
    font-size: medium;
    padding: 6px;
    border: 1px solid @brown;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 2px @brown;
}