<div class="container">
  <div class="row mt-5">
    <div *ngFor = "let achievement of achievements; index as i" class="col-12 col-md-4 mt-5">
        <div class="card">
            <div id="collapseexample{{i}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor = "let image of achievement.images" class="carousel-item" [class.active] = "image.active">
                    <img [imgSrc]="image.name" class="d-block w-100" alt="..." (click) = "openImgPopup(image.name)">
                  </div>
                </div>
                <button *ngIf="achievement.images && achievement.images.length > 1" class="carousel-control-prev" type="button" [attr.data-bs-target]="'#collapseexample'+i" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button *ngIf="achievement.images && achievement.images.length > 1" class="carousel-control-next" type="button" [attr.data-bs-target]="'#collapseexample'+i" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{achievement.heading}}</h5>
                <p class="card-text">{{achievement.text}}</p>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"> 
  <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
      <!-- <div class="modal-header"> 
        <h4 class="modal-title">GeeksForGeeks</h4> 
      </div>  -->
      <div class="modal-body"> 
        <div class="card img-card">
          <img :src="assets/{{popUpImgUrl}}" alt="Logo">
        </div>
      </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-primary" 
                (click)="closeImgPopup()"> 
          Close 
        </button> 
      </div> 
    </div> 
  </div> 
</div>